
.grey-square {
    background-color: #ccc; 
    padding: 50px; 
    border-radius: 10px; /* Add rounded corners */
    margin: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grey-square img {
    width: 100%; 
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Limit the image to its natural size or the container's width, whichever is smaller */
  }